* {
    font-family: 'poppins';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


header {
    color: #17233D;
    font-size: 14px;
    font-weight: 400px;
    letter-spacing: 0.88px;
    margin-top: 47px;
    margin-left: 42px;
    cursor: pointer;
}

.headear {
    margin-right: 36px;
}

#button {
    width: 124px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    cursor: pointer;
}


#img1 {
    display: inline-block;
    width: 590px;
    margin-top: 120px;
    margin-left: 280px;
}

section {
    display: inline-block;
    color: #4B505A;
    font-size: 24px;
    font-style: normal;
    font-weight: 400px;
    line-height: 33px;
    letter-spacing: 0.4px;
}

h1 {
    color: #161A49;
    font-size: 72px;
    font-style: normal;
    line-height: 82px;
    letter-spacing: 0.596px;
    width: 600px;
    margin-bottom: 50px;
    margin-left: 96px;
}

p {
    color: #4B505A;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500px;
    line-height: 33px;
    letter-spacing: 0.5px;
    width: 493px;
    margin-left: 96px;
}
body { margin-left: 40px;}

#div1 {
    color: #6FBF44;
    font-size: 18px;
    font-style: normal;
    font-weight: 500px;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 95px;
    margin-top: 55px;
    cursor: pointer;
}

@media screen and (max-width:900px) {
    .headear {
        display: none;
    }

    h1 {
        display: flex;
        flex-direction: column-reverse;
        font-size: 40px;
        font-weight: 700px;
        line-height: 40px;
        letter-spacing: 0.5961538553237915px;
        text-align: center;
        width: 378px;
        margin-left: 08px;
        margin-bottom: 18px;
    }

    p {
        display: flex;
        flex-direction: column-reverse;
        font-size: 16px;
        font-weight: 400px;
        line-height: 33px;
        letter-spacing: 0.5px;
        text-align: center;
        width: 304px;
        margin-left: 46px;
        margin-bottom: 10px;
    }



    #button {
        margin-left: 200px;
    }

    #link {
        margin-left: 40px;
        margin-top: 100px;
    }

    #img1 {
        width: 300px;
        display: flex;
        flex-direction: column-reverse;
        margin-left: 53px;
        margin-top: 80px;
        margin-bottom: 15px;
    }



}